body{
    background-color:aliceblue;
}
.navigator{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color:black;
    color: aliceblue;
}
.navigator > li{
margin-left:30px;
margin-right:30px;
}
.footer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color:black;
    color: aliceblue;
}
.soks{
display: flex;
line-height: 100px;
flex-wrap: wrap;
}
.soks > div{
    background-color: black;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.stories{
background-color: black;
color: aliceblue;
margin-top:30px;
padding: 50px;
text-align: justify;
}
h1{
    text-align: center;
}
.blue{
    background-image:url(images/blue.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color: lime;
    border: 2px solid black;
}
.black{
    background-image:url(images/black.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color: blue;
    border: 2px solid black;
}
.red{
    background-image:url(images/red.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color: black;
    border: 2px solid black  ;
}
.I > div{
    background-color: black;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center; 
}
.i {
    background-image:url(images/I.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid black;
}
.I > h1{
    text-align: center;
}
.bye{
    align-content: space-between;
    display: flex;
    justify-content:space-around;
}